body {
    background-color: #26292e;
    color: #eeeeee;
}

a {
    color: #eeeeee;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', monospace;
    text-align: center;
    font-size: x-large;
}

span {
    color: #aad8d3;
}

.footer {
    background-color: #26292e;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    bottom: 0;
}

.footer h2 {
    font-family: 'Roboto', monospace;
    text-align: center;
    font-size: medium;
}

#name1 span#name1 {
    display: inline;
}

#names:hover span#name1 {
    display: none;
}

#names span#name2 {
    display: none;
}

#names:hover span#name2 {
    display: inline;
}